{{#each erros}}
  <div class="alert alert-danger"> {{texto}} </div>
{{else}}
  
{{/each}}

<h1>Tabela de Partos </h1>

<a href='/Parto/formAddAltParto'>  
    <button class="btn btn-success">Cadastrar novo Parto</button>
</a>
<section class="container">
    <label for="filtrar-tabela">Filtrar:
        <input type="text" name="filtro" id="filtrar-tabela" placeholder="Digite ????"></label>
        <table>
            <thead>
                <tr>
                    <th>Brinco da fêmea</th>
                    <th>Ordem de parição</th>
                    <th>Data do parto</th>
                    <th>Galpão</th>
                    <th>Sala de maternidade</th>
                    <th>Peso da matriz pré parto</th>
                    <th>Peso da matriz pós parto</th>

                    <th>Peso do nascido 1</th>
                    <th>Estado</th>
                    <th>Peso ao desmame</th>

                    <th>Peso do nascido 2</th>
                    <th>Estado</th>
                    <th>Peso ao desmame</th>

                    <th>Operações</th>
                </tr>
            </thead>

            <tbody id="tabela-partos">
                {{#each partos}}
                    <tr class="parto">
                        <td class="info-brinco-femea">{{brinco_femea}}</td>
                        <td class="info-ordem_paricao">{{ordem_paricao}}</td> 
                        <td class="info-data_parto">{{data_partoFormatado}}</td>
                        <td class="info-galpao">{{galpao}}</td>
                        <td class="info-sala_maternidade">{{sala_maternidade}}</td>
                        <td class="info-peso_matriz_pre_parto">{{peso_matriz_pre_parto}}</td>
                        <td class="info-peso_matriz_pos_parto">{{peso_matriz_pos_parto}}</td>

                        <td class="info-peso_nasc1">{{peso_nasc1}}</td>
                        <td class="info-estado_nasc1">{{estado_nasc1}}</td>
                        <td class="info-peso_desmame1">{{peso_desmame1}}</td>

                        <td class="info-peso_nasc2">{{peso_nasc2}}</td>
                        <td class="info-estado_nasc2">{{estado_nasc2}}</td>
                        <td class="info-peso_desmame2">{{peso_desmame2}}</td>
 
                        <td class="info-operacoes">
                        <a href ='/Parto/formAddAltParto/{{id}}'>
                            <button class='btn btn-success mt-3'> Alterar </button> </a>
                        <a href ='/Parto/excParto/{{id}}'> 
                            <button class='btn btn-danger mt-3'> Deletar </button> </a>
                        </td>
                    </tr>		
                {{else}}						
                    <h4 class="mt-4">Nenhum parto registrado!!!</h4>
                {{/each}}
            </tbody>
        </table>
</section>