{{#each erros}}
  <div class="alert alert-danger"> {{texto}} </div>
{{else}}
  
{{/each}}

<h2>Tabela Reprodutores </h2>

<a href='/Reprodutor/formAddAltReprodutor'> 
    <button class="btn btn-success">Cadastrar novo Reprodutor</button>
</a>
		<section class="container">
			<label for="filtrar-tabela">Filtrar:
				<input type="text" name="filtro" id="filtrar-tabela" placeholder="Digite o brinco do reprodutor"></label>
				<table>
					<thead>
						<tr>
							<th>Brinco</th>
							<th>Multiplicadora</th>
							<th>Genética</th>
							<th>Nascimento</th>
							<th>Peso ao Nascer</th>
							<th>Chegada</th>
							<th>Peso ao Chegar</th> 
							<th>Sexo</th>
							<th>Operacoes</th>
						</tr>
					</thead>
					
					<tbody id="tabela-reprodutores">
					    {{#each reprodutores}}
						<tr class="reprodutor">
							<td class="info-brinco">{{brinco}}</td>
							<td class="info-multiplicadora">{{multiplicadora}}</td>
							<td class="info-genetica">{{genetica}}</td>
							<td class="info-data_nasc">{{data_nasc}}</td>
							<td class="info-peso_nasc">{{peso_nasc}}</td>
							<td class="info-data_chegada">{{data_chegada}}</td>
							<td class="info-peso_chegada">{{peso_chegada}}</td>
							<td class="info-sexo">{{sexo}}</td>
							
							<td class="info-operacoes">
							<a href ='/Reprodutor/formAddAltReprodutor/{{brinco}}'> 
								<button class='btn btn-success mt-3'> Alterar </button> </a>
							<a href ='/Reprodutor/excReprodutor/{{brinco}}'> 
								<button class='btn btn-danger mt-3'> Deletar </button> </a>
							</td>
						</tr>		
	{{else}}						
		<h4 class="mt-4">Nenhum reprodutor registrado !</h4>
				{{/each}}
				</tbody>
			</table>
		</section>