
{{#each erros}}
  <div class="alert alert-danger"> {{texto}} </div>
{{else}}
  
{{/each}}

<h1>Tabela de Inseminações </h1>

<a href='/Inseminacao/formAddAltInseminacao'> 
    <button class="btn btn-success">Cadastrar nova Inseminação</button>
</a>
<section class="container">
    <label for="filtrar-tabela">Filtrar:
        <input type="text" name="filtro" id="filtrar-tabela" placeholder="Digite o brinco do ?????"></label>
        <table>
            <thead>
                <tr>
                    <th>Brinco da fêmea</th>
                    <th>Brinco do macho</th>
                    <th>Data da inseminação</th>
                    <th>Operacoes</th>
                </tr>
            </thead>
            
            <tbody id="tabela-inseminacoes">
                {{#each inseminacoes}}
                    <tr class="inseminacao">
                        <td class="info-brinco-femea">{{brinco_femea}}</td>
                        <td class="info-brinco_macho">{{brinco_macho}}</td>
                        <td class="info-data-inseminacao">{{data_inseminacao}}</td>
                        <td class="info-operacoes">
                        <a href ='/Inseminacao/formAddAltInseminacao/{{brinco_femea}}/{{brinco_macho}}/{{data_inseminacaoLink}}'>
                            <button class='btn btn-success mt-3'> Alterar </button> </a>
                        <a href ='/Inseminacao/excInseminacao/{{brinco_femea}}/{{brinco_macho}}/{{data_inseminacaoLink}}'> 
                            <button class='btn btn-danger mt-3'> Deletar </button> </a>
                        </td>
                    </tr>		
                {{else}}						
                    <h4 class="mt-4">Nenhuma inseminção registrada!!!</h4>
                {{/each}}
            </tbody>
        </table>
</section>